# Benchmarking Data Normalization Methods with the Dexamethasone Benchmark

In [16]:
import pandas as pd
import warnings
import numpy as np

In [11]:
x = [160, 32, 1, 80]
y = [328, 62, 0, 68]
data = pd.DataFrame(list(zip(x, y)))
data

     0    1
0  160  328
1   32   62
2    1    0
3   80   68

In [12]:
def logCPM(data):

    with warnings.catch_warnings():
        warnings.simplefilter("ignore")
        data = (data/data.sum())*10**6
        data = data.fillna(0)
        data = np.log2(data+1)

    # Return
    return data

In [18]:
test = logCPM(data)
test

           0          1
0  19.160742  19.449919
1  16.838824  17.046572
2  11.839205   0.000000
3  18.160744  17.179837